.Footer-container-1{
    display:flex;
    background-color:yellow;
    width:100%;
    height:6vh;
    margin-top:18%;     
}
.Footer-container-2{
    display:flex;
    background-color:yellow;
    width:100%;
    height:6vh;
    margin-top:18%;     
}