.App {
  text-align: center;
}

/* .Logo{
  width:20%;
  height:auto;
  padding-top: 25%;
} */

/* button{
  padding-top: 10px;
  text-align:center;
} */




/* .title{
  text-align: center;
  display: block;
  margin: 0 auto;
  clear: both;
  padding-top: 25%;
  /* padding-bottom: 50%; */
  /* font-size: 5em;
}
.title::first-letter {
  font-size: 125%;
  font-weight: bold;
} */ 